<a href="https://colab.research.google.com/github/jppyykm/Playground/blob/master/KaggleNYT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exploring a Dataset

We use the dataset provided by Tumanov Alexander.

https://www.kaggle.com/tumanovalexander/nyt-articles-data/code

This dataset presumes 100 years worth of news from the New York Times.

#Part 1: Acquisition

In [1]:
'''          UNCOMMENT TOP AND BOTTOM LINES ONCE PER SESSION

!pip install -q kaggle  #Kaggle module makes working with datasets simpler
from google.colab import files

files.upload()     #You will need a kaggle key to log in. 
                   #Google fu: kaggle key.

!rm -r sample_data/ #delete sample data
!mkdir ~/.kaggle    #create directory
!cp kaggle.json ~/.kaggle/ #copy file to dir
!chmod 600 ~/.kaggle/kaggle.json #add permisions
!kaggle datasets download -d tumanovalexander/nyt-articles-data #over 1.2 gigabytes
!unzip nyt-articles-data.zip
'''

'          UNCOMMENT TOP AND BOTTOM LINES ONCE PER SESSION\n\n!pip install -q kaggle  #Kaggle module makes working with datasets simpler\nfrom google.colab import files\n\nfiles.upload()     #You will need a kaggle key to log in. \n                   #Google fu: kaggle key.\n\n!rm -r sample_data/ #delete sample data\n!mkdir ~/.kaggle    #create directory\n!cp kaggle.json ~/.kaggle/ #copy file to dir\n!chmod 600 ~/.kaggle/kaggle.json #add permisions\n!kaggle datasets download -d tumanovalexander/nyt-articles-data #over 1.2 gigabytes\n!unzip nyt-articles-data.zip\n'

In [2]:
#Bellow you can see the file kaggle.json which is the kaggle key. 
#We need this file to access it, open a kaggle account, 
#it is located in the settings in the kaggle website.
!ls

 df_1920.csv   df_1941.csv   df_1962.csv   df_1983.csv	 df_2004.csv
 df_1921.csv   df_1942.csv   df_1963.csv   df_1984.csv	 df_2005.csv
 df_1922.csv   df_1943.csv   df_1964.csv   df_1985.csv	 df_2006.csv
 df_1923.csv   df_1944.csv   df_1965.csv   df_1986.csv	 df_2007.csv
 df_1924.csv   df_1945.csv   df_1966.csv   df_1987.csv	 df_2008.csv
 df_1925.csv   df_1946.csv   df_1967.csv   df_1988.csv	 df_2009.csv
 df_1926.csv   df_1947.csv   df_1968.csv   df_1989.csv	 df_2010.csv
 df_1927.csv   df_1948.csv   df_1969.csv   df_1990.csv	 df_2011.csv
 df_1928.csv   df_1949.csv   df_1970.csv   df_1991.csv	 df_2012.csv
 df_1929.csv   df_1950.csv   df_1971.csv   df_1992.csv	 df_2013.csv
 df_1930.csv   df_1951.csv   df_1972.csv   df_1993.csv	 df_2014.csv
 df_1931.csv   df_1952.csv   df_1973.csv   df_1994.csv	 df_2015.csv
 df_1932.csv   df_1953.csv   df_1974.csv   df_1995.csv	 df_2016.csv
 df_1933.csv   df_1954.csv   df_1975.csv   df_1996.csv	 df_2017.csv
 df_1934.csv   df_1955.csv   df_1976.csv   df_1997.csv	 df_2018.csv
 df_1935.csv   df_1956.csv   df_1977.csv   df_1998.csv	 df_2019.csv
 df_1936.csv   df_1957.csv   df_1978.csv   df_1999.csv	 df_2020.csv
 df_1937.csv   df_1958.csv   df_1979.csv   df_2000.csv	'kaggle (1).json'
 df_1938.csv   df_1959.csv   df_1980.csv   df_2001.csv	 kaggle.json
 df_1939.csv   df_1960.csv   df_1981.csv   df_2002.csv	 nyt-articles-data.zip
 df_1940.csv   df_1961.csv   df_1982.csv   df_2003.csv

The data is very neatly organized per year in a csv file.

#Part 2: Exploration

Let's look at the size of the files.

In [3]:
!for entry in $(ls); do du -s "$entry"; done | sort -n

du: cannot access 'kaggle': No such file or directory
du: cannot access '(1).json': No such file or directory
4	kaggle.json
1756	df_1924.csv
5492	df_1979.csv
9756	df_2018.csv
13376	df_2020.csv
15396	df_2019.csv
17188	df_2017.csv
19172	df_1923.csv
19992	df_2016.csv
20044	df_1978.csv
20540	df_1925.csv
21884	df_1980.csv
22144	df_1981.csv
22912	df_2015.csv
24832	df_1926.csv
24924	df_1922.csv
25176	df_2014.csv
25336	df_2013.csv
27224	df_1963.csv
27808	df_1920.csv
27868	df_2011.csv
28320	df_1945.csv
29308	df_1965.csv
29468	df_1944.csv
29560	df_2012.csv
30104	df_1943.csv
31000	df_1969.csv
31312	df_1968.csv
31600	df_2010.csv
31660	df_1962.csv
31788	df_1946.csv
32172	df_1967.csv
32500	df_1960.csv
32668	df_1958.csv
32720	df_1957.csv
33216	df_1955.csv
33344	df_1959.csv
33812	df_1961.csv
33848	df_1947.csv
34204	df_1977.csv
34236	df_1921.csv
34292	df_1966.csv
34484	df_1954.csv
34592	df_2007.csv
34836	df_1948.csv
35268	df_1976.csv
35420	df_1953.csv
35504	df_1970.csv
35704	df_1951.csv
35900	df_1956.csv
36160	df_1950.csv
36356	df_1949.csv
36688	df_1952.csv
36980	df_1940.csv
37848	df_1942.csv
38304	df_1971.csv
38344	df_2008.csv
39048	df_1939.csv
39216	df_1941.csv
39352	df_1935.csv
40428	df_1933.csv
41080	df_1932.csv
42252	df_1927.csv
42792	df_1934.csv
43004	df_1928.csv
45028	df_1936.csv
46044	df_1937.csv
46696	df_1964.csv
46816	df_1930.csv
46856	df_1929.csv
46868	df_1938.csv
46956	df_1975.csv
47044	df_2009.csv
47116	df_1931.csv
47448	df_1972.csv
47700	df_1974.csv
48292	df_1989.csv
49316	df_1988.csv
50224	df_1997.csv
50280	df_1987.csv
51656	df_1973.csv
54480	df_1998.csv
55532	df_1996.csv
57776	df_1999.csv
58984	df_2000.csv
60660	df_1990.csv
61544	df_2001.csv
62584	df_2003.csv
64512	df_2002.csv
66476	df_2004.csv
69244	df_1993.csv
69300	df_1994.csv
73244	df_1995.csv
73572	df_1992.csv
82180	df_1983.csv
82552	df_1991.csv
83676	df_1982.csv
84528	df_1985.csv
85636	df_1984.csv
88324	df_1986.csv
92836	df_2005.csv
105940	df_2006.csv
1850280	nyt-articles-data.zip

How interesting. There is an odd distribution in the file sizes. Some years are larger than others. There is some general trend with notable outliers. The initial impression of orderly data begins to juxtapose with this last observation. Let's arbitrarly look into the 1939 file.

In [4]:
import pandas as pd  #If you are unfamiliar with Pandas, think of a better spreadsheet
import numpy as np   #If you are familiar, disregard that last comment.
df_1939 = pd.read_csv('df_1939.csv')
df_1939.describe

<bound method NDFrame.describe of         Unnamed: 0  year                                           sentence
0                0  1939  Peace work discussed; por Program Pushed For W...
1                1  1939  Lebrun New Yr reception LEBRUN EXPRESSES FRENC...
2                2  1939  Major S. Fullerton Weaver, of 298 Park Avenue,...
3                3  1939  Jewish Labor Com sends fund to aid Polish Jews...
4                4  1939  Port Richmond, S I; paper warehouse destroyed ...
...            ...   ...                                                ...
240940      240940  1939                              LOCALLY DRESSED MEATS
240941      240941  1939        Meetings for Dividends Listed for This Week
240942      240942  1939       Personnel changes Railroad's Manager Retires
240943      240943  1939  Contributions (1939 Drive) GIFTS TO NEEDIEST C...
240944      240944  1939   BANK SUPERVISORS PICKED; National Association...

[240945 rows x 3 columns]>

In [7]:
#first element is not a sentence. Perhaps Tumanov meant sentences.
df_1939.iloc[0,2]

'Peace work discussed; por Program Pushed For World Peace; Henriette Hart in New Post Asks Womanhood to Join in a United Front'

In [5]:
df_1939.head()

   Unnamed: 0  year                                           sentence
0           0  1939  Peace work discussed; por Program Pushed For W...
1           1  1939  Lebrun New Yr reception LEBRUN EXPRESSES FRENC...
2           2  1939  Major S. Fullerton Weaver, of 298 Park Avenue,...
3           3  1939  Jewish Labor Com sends fund to aid Polish Jews...
4           4  1939  Port Richmond, S I; paper warehouse destroyed ...

So. The csv file contains 3 columns: an index number. A year, in this case all values of 1939. Therefore there is no cronological conection between these text elements other than their year. Lastly the text labeled 'sentence'. 

There are over 240,000 rows.

In [6]:
type(df_1939['sentence'])

pandas.core.series.Series

In [12]:
%%time
#This is ineficient. Future self. 
list_of_strings = [str(df_1939.iloc[x,2]) for x in range(0,df_1939.shape[0])]
len_list = [len(x) for x in list_of_strings]
idx = [x for x in range(0,len(len_list))]
print("Characters in element")
print('Mean:  ',np.mean(len_list))
print('Median:',np.median(len_list),'\n\n')

Characters in element
Mean:   151.42962501815768
Median: 103.0


CPU times: user 6.45 s, sys: 9.88 ms, total: 6.46 s
Wall time: 6.49 s

This datasest resembles one of tweets by the looks of it.

In [ ]:
#Let's calculate the number of characters per row.
element_length = df_1939['sentence'].str.len()
#And quickplot it
plt.style.use('ggplot')
import matplotlib.pyplot as plt
element_length.plot()
plt.show()

Ok. This is peculiar. The taller lines of over 5,000 characters have the length of a typical news article.The lines seem too thick, let's refine the plot.

In [ ]:
import matplotlib as mpl
mpl.rcParams.update(mpl.rcParamsDefault)  #RESET DEFAULT PARAMETERS
plt.plot(idx, len_list, linewidth=0.10)
plt.xlabel('Example index number')
plt.ylabel('Number of characters')

plt.suptitle('Element String Length')
plt.show()

In [ ]:
#The clearer it gets the fuzzier it becomes.

In [ ]:
plt.xlabel('Example index number')
plt.ylabel('Number of characters')

plt.suptitle('Original vs Sorted')
plt.plot(idx, sorted(len_list),'r')
plt.fill_between(idx, len_list, color='blue', alpha=0.3)
plt.show()

It doesn't seem to follow sentences, paragraphs, headlines nor articles per element. More like a textual hoshposh or information potpourie. This requires further inspection.

In [ ]:
df_1939.iloc[240900,2]

In [ ]:
#Lets look for the larger texts
for x in element_length:
  if x > 7000:
    print(x)

In [ ]:
#Inverse dictionary workaround
Dict = {idx[i]: len_list[i] for i in range(len(len_list))}
key = next(key for key, value in Dict.items() if value == 7276)
df_1939.iloc[key,2]

In [ ]:
#The data is very skewed.
for x in element_length:
  if x > 6000 and x < 7000:
    print(x)

In [ ]:
key = next(key for key, value in Dict.items() if value == 6281)
df_1939.iloc[key,2]

In [ ]:
#The data is very skewed.
X, XX= 0,0
for x in element_length:
  if x > 0 and x < 50:
    X += 1
    XX += x
print(f'There are {X:,} entries with less than 50 characters with a mean of {round(XX/X,2)}. \nThese are {round(X/len(len_list)*100,2)}% of the total elements.')

In [ ]:
print('Nonsensical elements:\n\n',df_1939.iloc[15,2])

In [ ]:
len(len_list)

In [ ]:
import numpy as np
mean_ = np.mean(len_list)
mean_

In [ ]:
np.median(len_list)

In [ ]:
plt.plot(idx, sorted(len_list),'r')
plt.style.use(['dark_background'])
plt.show()

In [ ]:
%%time
Adata = []
pre, suf = './df_', '.csv'

for x in range(0,100):
  Dir = pre+str(1920 + x)+suf
  Adata.append(pd.read_csv(Dir))
  '''
  with open(Dir,'r') as f:
    con = f.content_file.read()
    n = 100 - x
    A[n].append(con)
[print(y) for y in range(0,5)] '''

len(Adata)

In [ ]:
print(f'Adata is a list of {len(Adata)} DataFrames')
type(Adata[96]) #The type for the 96th and all items in the list.

In [ ]:
print(f'Adata is a list of {len(Adata)} DataFrames')
type(Adata[96]) #The type for the 96th and all items in the list.

In [ ]:
type(Adata[1]))